.navbar-brand{
	padding-top: 5px; 
}

.form-horizontal{
	padding: 10px;
}

.nav-pills{
	padding: 10px;
}

.panel-default{
	margin-left: 10px;
	margin-right: 10px;
}

.link-panel{
	float: right;
	padding: 0px;
}

.panel-title{
	float: left;
	padding-top: 2px;	
}

.form-inline{
	padding: 10px;	
}