<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutFragment">
<head>
<meta charset="UTF-8" />
<title>PESQUISA</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<section layout:fragment="conteudo">

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title">Pesquisa</h1>
				<a class="link-panel" href="/pessoafisica/novo" >Novo</a>
			</div>
		</div>
	
		<div class="panel-default">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">Módulos</th>
						<th class="text-center col-md-1">Versão</th>
						<th class="text-center col-md-1">Data</th>
						<th class="text-center col-md-5">Descrição</th>
						<th class="text-center col-md-1">OPS</th>
						<th class="text-center col-md-3">Solicitante</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pessoa : ${relatorio}">
						<td class="text-center" th:text="${pessoa.id}">1</td>
						<td class="text-center" th:text="${pessoa.nome}">2</td>
						<td class="text-center" th:text="${{pessoa.apelido}}">3</td>
						<td th:text="${pessoa.endereco}">4</td>
						<td class="text-center" th:text="${pessoa.uf}">5</td>
						<td class="text-center" th:text="${pessoa.bairro}">6</td>					
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(relatorio)}">Nenhum registro foi encontrado.</td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
</section>
</html>